.u-center-text {
  text-align: center !important;
}
.u-margin-bottom-lg {
  margin-bottom: 8rem !important;
}
.u-margin-bottom-md {
  margin-bottom: 4rem !important;
}
.u-margin-bottom-sm {
  margin-bottom: 1rem !important;
}
.u-margin-top-lg {
  margin-top: 8rem !important;
}
.u-margin-top-hg {
  margin-top: 10rem !important;
}
